.login-container {
  /* width: 1350px; */
  min-height: 611px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #56ab2f, #a8e063);
  /* padding: 20px; */
}

/* This wraps the form card (from LoginForm) */
/* .login-container .login-form-container {
  margin-bottom: 20px;
} */

/* Register link section below form */
.register-link {
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.register-link a {
  color: #27ae60;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.register-link a:hover {
  text-decoration: underline;
}

/* Mobile Responsive */
@media (max-width: 500px) {
  .login-container {
    padding: 25px;
  }

  .register-link {
    font-size: 26px;
  }
}
